//* Couleurs *//

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$light-grey: #7E7E7E;
$dark-grey: #353535;
$background-grey: #EAEAEA;
$background-grey2: #F6F6F6;
$text-black: #000;
$text-white:#FFFFFF;
$text-green:#008766;