/* Footer */

@import "../abstracts/variables";

.footer {
    width: 100%;
    background-color: $dark-grey;
    padding: 22px;
    display: flex;
    flex-direction: column;
    position: relative;

    h5 {
        color: $text-white;
        font-family: "Shrikhand";
        font-size: 18px;
    }

    a {
        color: $text-white;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        display: flex;
        gap: 15px;
        line-height: 25px;
    }

    i {
        font-size: 13px;
        line-height: 25px;
        width: 11px;
        color: $text-white;
    }
}

/* Footer - version responsive */

@media screen and (min-width: 1024px) {
    .footer {
        flex-direction: row;
        justify-content: flex-end;
        gap: 7px;

        h4 {
            order: 5;
            margin-top: 35px;
            margin-left: 100px;
        }

        a {
            align-items: flex-end;
        }

        i {
            padding-left: 4px;
        }
    }
}