/* Page d'accueil */

@import "../abstracts/variables";
@import "../components/cards";

/* Section Location */

.location {
  width: 100%;
  background-color: $background-grey;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;

  i {
    color: $dark-grey;
    font-size: 16px;
  }

  input {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    background-color: $background-grey;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: center;
  }
}

::placeholder {
  color: $dark-grey;
  opacity: 1;
}

/* Section Discover */

.discover {
  background-color: $background-grey2;
  padding-top: 35px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    padding-bottom: 15px;
  }

  p {
    color: $dark-grey;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
  }
}

/* Section Discover - version responsive */

@media screen and (min-width: 1024px) {
  .discover {
    padding-bottom: 30px;

    h1 {
      font-size: 40px;
      padding-bottom: 25px;
    }
  }
}

/* Section Functionning */

.functionning {
  padding-top: 50px;
}

.functionning-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 26px;
}

.fa-solid {
  color: $light-grey;
  font-size: 20px;
  margin-right: 10px;
}

.fa-store {
  color: $primary-color;
}

.button-functionning {
  width: 322px;
  height: 72px;
  border-radius: 20px;
  background: $background-grey2;
  border: none;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  span {
    color: $text-black;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }

  .number {
    width: 24px;
    height: 24px;
    background-color: $primary-color;
    border-radius: 50%;
    padding: 5px;
    display: grid;
    place-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    position: absolute;
    left: -11px;
  }
}

/* Section Functionning - version responsive */

@media screen and (min-width: 1024px) {
  .section-title {
    padding-left: 0;
  }

  .functionning {
    margin-left: 14%;
    margin-right: 13%;

  }

  .functionning-all {
    flex-direction: row;
    margin-left:10px;
  }
}

/* Section Restaurants */

.restaurants {
  margin-top: 68px;
  padding-top: 54px;
  padding-bottom: 65px;
  background-color: $background-grey2;
}

.restaurants-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}


/* Section Restaurants - version responsive */

@media screen and (min-width: 1024px) {
  .restaurants {
    margin-top: 50px;
    padding-top: 30px;
    padding-left: 14%;
    padding-right: 13%;
    padding-bottom: 30px;
  }

  .restaurants-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }
}